<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About</h1>
    <div class="row">
      <p class="lead">My name is Dusty and I am passionate autodidact.</p>
    </div>
    <div class="row">
      <p class="lead">
     I have spent the last 10 years of my life working in video production and have recently started looking for a new challenge in my life and  
     my career. 
     </p>
     
    </div>
    <div class="row">
      <p class="lead">I have a strong aptitude with computers and self-teaching and have a long history of working 
     in creative teams at Nike and creative agencies.
     I have spent years in post-production organizing huge video projects, delivering assets for interactive and digital 
     first, and maintaining high bandwidth 10gbe networks. 
     I am no stranger to the terminal. My favorite commands are <em>fsck_hfs</em> and <em>Rsync</em>, I have used them to resurrect hard drives and verify backups for years.
     </p>
    </div>
    <div class="row">
      <p class="lead">
        I have been dabbling with coding for years but in December of 2017, I started taking it more seriously with the help of a friend who owns a small web development shop. I also leaned online courses like FreeCodeSchool.com and CodeSchool.com. I have built Vanilla JavaScript apps and used frameworks such as Ember.js, Node.js, and Ruby on Rails. My time working in video production has been irreplaceable my priorities have changed and I would like to do work that challenges my brain and in new and exciting ways.
    </p>
    </div>
  </div>
</div>