<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About</h1>
    <div class="row">
      <p class="lead">My name is Dusty and I am a very motivated self-starter and an autodidact.</p>
    </div>
    <div class="row">
      <p class="lead">
     I have spent the last 10 years of my life working in video production and have started looking for a new challenge in my life and  
     my career. 
     </p>
     
    </div>
    <div class="row">
      <p class="lead">I have a strong aptitude with computers and self-teaching and have a long history of working 
     in creative teams at Nike, Adidas and creative agencies.
      I have spent years in post-production organizing huge video projects, delivering assets for interactive and digital first, and maintaining high bandwidth 10gbe networks. I have used ruby to automate backups of footage and projects, terminal commands like <em>fsck_hfs</em> and <em>Rsync</em> to resurrect hard drives and verify backups. 
     </p>
    </div>
    <div class="row">
      <p class="lead">
     I have been dabbling for years with code but in December of 2017, I started learning JavaScript with the help of a friend who owns a small development shot called Bot and Rose and online courses like FreeCodeSchool.com and CodeSchool.com. I have built Vanilla JavaScript apps and used frameworks such as Ember.js, Node.js, and Ruby on Rails. 
     While my time working in video production has been irreplaceable my priorities have changed and I would like to do work that challenges my brain and in new and exciting ways. 
    </p>
    </div>
  </div>
</div>