<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contact</h1>
    <p class="lead">You can contact me at <strong><em>dustymccord at gmail dot com.</em></strong></p>
    <a href="https://github.com/dustatron">Github profile</a> | Codepen.io |
  </div>
</div>