<div class="container">
<div class="row">
    <div class="col-md-6 text-center text-sm-left"><h3>
        <a href="https://idealist-ae31b.firebaseapp.com/posts" target="_blank">Movie Voting : Ember</a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-4 img-container"><a href="https://idealist-ae31b.firebaseapp.com/posts" target="_blank"><%= image_tag "movie1.jpg", class: "rounded float-left img-fluid" %></a></div>
    <div class="col-md-8 text-left">
    <div class="row">
        <div class="col-md-12"><strong>Technology : Ember.js(front end) | firebase(backend)</strong></div>    
    </div>
    <div class="row">
            <div class="col-md-12">
                This site was created as a tool to allow multiple people to vote on what movie to watch for a movie night. 
                <br>
                <br>
                This was a project built with Ember.js and Google Firebase and uses The Movie Database API for
                a movie search.  This allows for people to search for a movie and then add it to the ballot so
                that it can be voted on. 
                <br>
                <a href="https://github.com/dustatron/ember-by-movies">GitHub</a>
            </div>
    </div>
    </div>
</div>
</div>