
<div class="row">
    <div class="col-md-3"><h3>
        <a href="https://pdx-mccord.herokuapp.com/" target="_blank">McMovie</a>
        </h3></div>
    <div class="col-md-2 offset-md-3 text-right"><p>Technology : </p></div>
    <div class="col-md-3 text-left"><p>Rails</p></div>
</div>

<div class="row">
    <%= image_tag "fff.png", class: "site-image" %>
</div>