<div class="container">
<div class="row">
    <div class="col-md-6 text-center text-sm-left"><h3>
        <a href="http://www.portlandsfunniestvideo.com/" target="_blank">Portland's Funniest Video</a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-4 img-container"><a href="http://www.portlandsfunniestvideo.com/" target="_blank"><%= image_tag "pfv.jpg", class: "rounded float-left img-fluid" %></a></div>
    <div class="col-md-8 text-left">
    <div class="row">
        <div class="col-md-12"><strong>Technology : Ruby on Rails(full stack)</strong></div>    
    </div>
    <div class="row">
            <div class="col-md-12">
                This page was created a submission tool for a monthly film festival at Curious Comedy Theater. 
                <br>
                <br>
                It allows filmmakers to start an account and submit a film via a link. 
                The site also has an admin section that allows for reviewing submissions 
                and then approving films for a specific month.
                <br>
                This site is currently in use. 
                <br>
                <a href="https://github.com/dustatron/pdx-comedy-filmfest">GitHub</a>
            </div>
    </div>
    </div>
</div>
</div>