
<div class="container">
<div class="row">
    <div class="col-md-6 text-center text-sm-left"><h3>
        <a href="https://codepen.io/Dustatron/full/MzjYwY/" target="_blank">Rock Paper Scissors</a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-4 img-container"><%= image_tag "fff.png", class: "rounded float-left img-fluid" %></div>
    <div class="col-md-8 text-left">
    <div class="row">
        <div class="col-md-12"><strong>Technology : Javascript</strong></div>    
    </div>
    <div class="row">
            <div class="col-md-12">
                Here is a quick thing of info about this project
            </div>
    </div>
    </div>
</div>
</div>