
<div class="container">
<div class="row">
    <div class="col-md-6 text-center text-sm-left"><h3>
        <a href="https://video-commander.firebaseapp.com/?https://firebasestorage.googleapis.com/v0/b/video-commander.appspot.com/o/Mercurial%20Fast%20Forward_R17_AppleTV_Large.m4v?alt=media&token=54df1a66-e2c1-4e55-a916-faead37d5985" target="_blank">Video Commenting system</a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-4 img-container"><a href="https://video-commander.firebaseapp.com/?https://firebasestorage.googleapis.com/v0/b/video-commander.appspot.com/o/Mercurial%20Fast%20Forward_R17_AppleTV_Large.m4v?alt=media&token=54df1a66-e2c1-4e55-a916-faead37d5985" target="_blank"><%= image_tag "video-player-icon-56649.jpg", class: "rounded float-left img-fluid" %></a></div>
    <div class="col-md-8 text-left">
    <div class="row">
        <div class="col-md-12"><strong>Technology : Javascript(front end) | Firebase(backend)</strong></div>    
    </div>
    <div class="row">
            <div class="col-md-12">
                This site was built as a tool to leave time-based comments on a video. 

                It uses vanilla Javascript in an MVC format with firebase as the backend. 
                To use this site a user can add a '?' followed by a dropbox link after the 
                URL and the site will automatically create a new entry in the database for the comments. 
            <br>
            <a href="https://github.com/dustatron/VideoCommander">GitHub</a>
            </div>
    </div>
    </div>
</div>
</div>