
<div class="container">
<div class="row">
    <div class="col-md-6 text-center text-sm-left"><h3>
        <a href="https://codepen.io/Dustatron/full/xgGXZj/" target="_blank">Weather App</a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-4 img-container"><%= image_tag "weather.jpg", class: "rounded float-left img-fluid" %></div>
    <div class="col-md-8 text-left">
    <div class="row">
        <div class="col-md-12"><strong>Technology : Javascript</strong></div>    
    </div>
    <div class="row">
            <div class="col-md-12">
                
This site was a Freecodecamp.org project. It was built with jquery and a weather API to allow for a user to get local weather data. 
            </div>
    </div>
    </div>
</div>
</div>